body, html
{
	height: 100%;
	background-color: rgb(33, 37, 41);
	margin: 0;
	padding: 0;
}
/* Bloc pour remplir l'espace du menu de navigation */
.bloc
{
	height: 60px;
}
/* Container principal */
.container-fluid
{
	margin: 1% auto;
	background-color: white;
	padding: 2%;
}
.container-fluid h1
{
	text-align: center;
	padding-bottom: 1%;
}
.container-fluid h3
{
	text-align: center;
}
/* Affichage des billets */
.billet
{
	margin: 5% auto;
	background-color: rgb(33, 37, 41);
	border-radius: 4px;
	color: white;
}
.billet .content
{
	margin: 2% auto;
}
.billet ul
{
	text-align: right;
	list-style-type: none;
}

/* Nav */
.navAdmin
{
	text-align: center;
}
.navAdmin a
{
	text-decoration: none;
	cursor: default;
}